/bin/
/classes/

*.lev
nethack-3.4.3/dat/dungeon
nethack-3.4.3/dat/dungeon.pdf
nethack-3.4.3/dat/options
nethack-3.4.3/dat/oracles
nethack-3.4.3/dat/quest.dat
nethack-3.4.3/dat/quest_levs
nethack-3.4.3/dat/rumors
nethack-3.4.3/dat/data
nethack-3.4.3/dat/spec_levs
nethack-3.4.3/include/date.h
nethack-3.4.3/include/dgn_comp.h
nethack-3.4.3/include/lev_comp.h
nethack-3.4.3/include/onames.h
nethack-3.4.3/include/pm.h
nethack-3.4.3/include/vis_tab.h
*.o
*.exe
*.h-t
nethack-3.4.3/src/monstr.c
nethack-3.4.3/src/Sysunix
nethack-3.4.3/src/vis_tab.c
nethack-3.4.3/util/dgn_lex.c
nethack-3.4.3/util/dgn_yacc.c
nethack-3.4.3/util/lev_lex.c
nethack-3.4.3/util/lev_yacc.c